.error{
    color: $kasared;
    text-align:center;
    line-height: 5rem;
    h1{
        font-size:10rem;
    }
    h3{
        font-size:x-large;
    }
    a{
        text-decoration: underline;
        color:$kasared;
    }
}