.full{
    color:$kasared;
}
.empty{
    color:$kasaLightGrey
}
.rating{
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    font-size: x-large;
    @media(max-width:420px){
        display: flex;
        font-size: large;
        padding: 1rem;
        justify-content: flex-start;
    }
}